# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Project outputs
*.csv
*.xlsx
